{
  "env": {
    "amd": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "__dirname": true,
    "document": true,
    "module": true,
    "require": true,
    "window": true,
    "Image": true
  },
  "parser": "babel-eslint"
}
